<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src='/<%= product.imageUrl %>' alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                                    <input type="hidden" name="productId" value="<%= product._id %>">

                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>

                                </div>
                            </article>

                            <% } %>

                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>

            </main>
            <div class="file">
                <a href="/api/v1/books/export-excel" class="btn">GET ORDER-ITEM </a>
            </div>
            <%- include('../includes/end.ejs') %>
                <script>
                    const deleteProduct = (btn) => {
                        const prodId = btn.parentNode.querySelector('[name=productId]').value;
                        const csrf = btn.parentNode.querySelector('[name=_csrf]').value;
                        const productElement = btn.closest('article');
                        fetch('/admin/delete-product/' + prodId, {
                                method: 'delete',
                                headers: {
                                    'csrf-token': csrf
                                }
                            }).then(result => {
                                return result.json();
                            }).then(data => {
                                console.log(data);
                                productElement.parentNode.removeChild(productElement);
                            })
                            .catch(err => {
                                console.log(err);
                            })

                    };
                </script>